table,
th {
  border: 1px solid white;
  border-collapse: collapse;
  table {
    border-spacing: 30px;
  }
  th,
  td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 120px;
  }
}
 div p { id="error"
  background-color:pink ; 
  color: black;
   padding: 5px ; 
   border-color:black ; }